# GLOBAL SUPERSTORE PROJECT

In [28]:
import numpy as np
import pandas as pd
from datetime import datetime

In [29]:
store=pd.read_csv("global_superstore_2016.csv",encoding="latin")
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [30]:
store.shape

(51290, 24)

In [31]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  object
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  object
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(3), int64(2), object(19)
memory usage: 9.4+ MB

In [32]:
store.describe()

            Row ID   Postal Code      Quantity      Discount  Shipping Cost
count  51290.00000   9994.000000  51290.000000  51290.000000   51290.000000
mean   25645.50000  55190.379428      3.476545      0.142908      26.478567
std    14806.29199  32063.693350      2.278766      0.212280      57.251373
min        1.00000   1040.000000      1.000000      0.000000       1.002000
25%    12823.25000  23223.000000      2.000000      0.000000       2.610000
50%    25645.50000  56430.500000      3.000000      0.000000       7.790000
75%    38467.75000  90008.000000      5.000000      0.200000      24.450000
max    51290.00000  99301.000000     14.000000      0.850000     933.570000

In [33]:
order_date=store["Order Date"].to_list()

In [34]:
order_datetime=pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [35]:
ship_date=store["Ship Date"].to_list()

In [36]:
ship_datetime=pd.to_datetime(ship_date)
ship_datetime

DatetimeIndex(['2014-11-13', '2014-02-07', '2014-10-18', '2014-01-30',
               '2014-11-06', '2014-07-01', '2012-11-08', '2013-04-18',
               '2014-11-13', '2012-03-07',
               ...
               '2014-07-09', '2015-06-11', '2015-08-10', '2015-05-30',
               '2013-12-31', '2015-06-19', '2014-05-10', '2012-08-31',
               '2013-02-21', '2013-05-26'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [37]:
Order_date=pd.Series(order_datetime,name="Order_Date")
Ship_date=pd.Series(ship_datetime,name="Ship_Date")

In [38]:
store.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [39]:
store.drop(columns=["Row ID","Order Date","Ship Date","Customer ID","Postal Code"],inplace=True)

In [41]:
store.head(2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [48]:
global_store=pd.concat([store,Order_date,Ship_date],axis=1)
global_store.head(1)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_Date,Ship_Date
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,...,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High,2014-11-11,2014-11-13

In [50]:
global_store=global_store.reindex(columns=["Order ID","Order_Date","Ship_Date","Ship Mode","Customer Name","Segment","Pastal Code","City","State","Country","Region","Market","Product ID","Category","Sub-Category","Product Name","Sales","Quantity","Discount","Profit","Shipping Cost","Order Priority"])
global_store.head(1)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Pastal Code,City,State,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,NaN,Oklahoma City,Oklahoma,United States,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High

In [51]:
global_store["Shipping Cost"].astype(int)[:10]

0     40
1    923
2    915
3    910
4    903
5    897
6    894
7    878
8     25
9     11
Name: Shipping Cost, dtype: int32

In [52]:
if global_store["Sales"].str.contains("$").any():
    print("Sales contains $")

Sales contains $

In [53]:
if global_store["Profit"].str.contains("$").any():
    print("Profit contains $")

Profit contains $

In [56]:
global_store["Sales"]=global_store["Sales"].str.replace("$",'',regex=True)
global_store["Sales"]=global_store["Sales"].str.replace("(",'',regex=True)
global_store["Sales"]=global_store["Sales"].str.replace(")",'',regex=True)
global_store["Sales"]=global_store["Sales"].str.replace(",",'',regex=True)
global_store["Sales"][:5]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
Name: Sales, dtype: object

In [59]:
global_store["Profit"]=global_store["Profit"].str.replace("$",'',regex=True)
global_store["Profit"]=global_store["Profit"].str.replace("(",'',regex=True)
global_store["Profit"]=global_store["Profit"].str.replace(")",'',regex=True)
global_store["Profit"]=global_store["Profit"].str.replace(",",'',regex=True)
global_store["Profit"][:5]

0     62.15
1     288.77
2    919.97
3      96.54
4    311.52
Name: Profit, dtype: object

In [60]:
global_store["Profit"]=pd.to_numeric(global_store["Profit"],downcast="signed")
global_store["Profit"][:5]

0     62.15
1    288.77
2    919.97
3     96.54
4    311.52
Name: Profit, dtype: float64

In [61]:
global_store["Sales"]=pd.to_numeric(global_store["Sales"],downcast="signed")
global_store["Sales"][:5]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
Name: Sales, dtype: float64

In [63]:
global_store["Sales"]=global_store["Sales"].astype(int)
global_store["Profit"]=global_store["Profit"].astype(int)
global_store["Profit"][:5]

0     62
1    288
2    919
3     96
4    311
Name: Profit, dtype: int32

In [65]:
global_store.head(3)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Pastal Code,City,State,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,NaN,Oklahoma City,Oklahoma,United States,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221,2,0.0,62,40.77,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923.63,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915.49,Medium

In [72]:
cond=global_store["Shipping Cost"]>500.00

In [73]:
global_store[cond].head()

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Pastal Code,City,State,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923.63,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915.49,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910.16,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903.04,Critical
5,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,Jim Mitchum,Corporate,NaN,Sydney,New South Wales,Australia,...,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862,5,0.1,763,897.35,Critical

In [75]:
o=len(global_store[cond]["Order ID"])
o#Orders with Shipping Cost >500

120

In [78]:
print(len(global_store["Segment"].value_counts()))
global_store["Segment"].value_counts()

3

Consumer       26518
Corporate      15429
Home Office     9343
Name: Segment, dtype: int64

In [79]:
print(len(global_store["Country"].value_counts()))
global_store["Country"].value_counts()

165

United States    9994
Australia        2837
France           2827
Mexico           2635
Germany          2063
                 ...
Malawi              1
Suriname            1
The Gambia          1
Kuwait              1
Bhutan              1
Name: Country, Length: 165, dtype: int64

In [80]:
print(len(global_store["Region"].value_counts()))
global_store["Region"].value_counts()

23

Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: Region, dtype: int64

In [81]:
print(len(global_store["Market"].value_counts()))
global_store["Market"].value_counts()

5

Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
Name: Market, dtype: int64

In [82]:
print(len(global_store["Category"].value_counts()))
global_store["Category"].value_counts()

3

Office Supplies    31289
Technology         10141
Furniture           9860
Name: Category, dtype: int64

In [83]:
print(len(global_store["Sub-Category"].value_counts()))
global_store["Sub-Category"].value_counts()

17

Binders        6146
Storage        5049
Art            4864
Paper          3492
Chairs         3434
Phones         3357
Furnishings    3154
Accessories    3075
Labels         2601
Fasteners      2601
Bookcases      2411
Supplies       2407
Envelopes      2387
Copiers        2223
Appliances     1742
Machines       1486
Tables          861
Name: Sub-Category, dtype: int64

In [91]:
conditions=(global_store["Country"]=="India") & (global_store["Category"]=="Technology") & (global_store["Shipping Cost"]>500.00)
indian_cust=global_store[conditions]
indian_cust

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Pastal Code,City,State,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,NaN,Gorakhpur,Haryana,India,...,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518,7,0.0,632,658.69,High
48,IN-2015-SW2027558-42125,2015-05-01,2015-05-01,Same Day,Scott Williamson,Consumer,NaN,Jamshedpur,Jharkhand,India,...,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174,7,0.0,500,637.86,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,NaN,Bhopal,Madhya Pradesh,India,...,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,625.77,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,NaN,Delhi,Delhi,India,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916,3,0.0,498,548.40,Critical

In [94]:
indian_cust_id=indian_cust["Order ID"]
indian_cust_id

41    IN-2015-BF1100558-42319
48    IN-2015-SW2027558-42125
55    IN-2013-SG2047058-41424
90    IN-2013-GP1474058-41419
Name: Order ID, dtype: object

In [96]:
conditions=(global_store["Country"]=="India") & (global_store["Category"]=="Technology") & (global_store["Sales"]>500.00)
indian_cust=global_store[conditions]["Order ID"]
indian_cust

41       IN-2015-BF1100558-42319
48       IN-2015-SW2027558-42125
55       IN-2013-SG2047058-41424
90       IN-2013-GP1474058-41419
130      IN-2014-SV2081558-41968
                  ...
13204    IN-2014-JR1621058-41850
14874    IN-2013-ML1826558-41503
23250    IN-2013-MA1799558-41565
24316    IN-2012-DP1316558-41173
35903    IN-2013-JS1568558-41371
Name: Order ID, Length: 162, dtype: object

In [97]:
condition=(global_store["State"]=="Karnataka") & (global_store["Category"]=="Technology")
len(global_store[condition])

21

In [100]:
global_store[condition].head(3)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Pastal Code,City,State,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
408,IN-2015-CY1274558-42300,2015-10-23,2015-10-25,First Class,Craig Yedwab,Corporate,NaN,Bangalore,Karnataka,India,...,TEC-CO-4578,Technology,Copiers,"Hewlett Fax Machine, Laser",959,3,0.0,460,317.81,Critical
782,IN-2015-JW1522058-42101,2015-04-07,2015-04-12,Standard Class,Jane Waco,Corporate,NaN,Mangalore,Karnataka,India,...,TEC-PH-3807,Technology,Phones,"Cisco Smart Phone, with Caller ID",3271,5,0.0,1341,232.45,High
1957,IN-2014-RA1928558-41863,2014-08-12,2014-08-16,Standard Class,Ralph Arnett,Consumer,NaN,Mangalore,Karnataka,India,...,TEC-CO-4791,Technology,Copiers,"HP Wireless Fax, High-Speed",1075,3,0.0,344,136.45,High

In [102]:
condition=(global_store["Profit"]>=2000) &(global_store["Shipping Cost"]>=300)
countries=global_store[condition]["Country"].drop_duplicates().tolist()
countries

['Italy',
 'India',
 'Morocco',
 'Netherlands',
 'United Kingdom',
 'Japan',
 'Lithuania',
 'Australia',
 'Pakistan',
 'United States']

In [105]:
condition=(global_store["Country"]=="India") & (global_store["Category"]=="Technology")
indian_states=global_store[condition]["State"].drop_duplicates().tolist()
print(indian_states)
len(indian_states)

['Haryana', 'Jharkhand', 'Madhya Pradesh', 'Delhi', 'Gujarat', 'Bihar', 'Kerala', 'Chhattisgarh', 'Tamil Nadu', 'West Bengal', 'Maharashtra', 'Karnataka', 'Rajasthan', 'Uttar Pradesh', 'Andhra Pradesh', 'Telangana', 'Odisha', 'Punjab', 'Assam', 'Uttarakhand', 'Puducherry', 'Jammu and Kashmir']

22

In [106]:
#Indiaas Rank in Maximum profit and in category technology

In [124]:
condition=(global_store["Profit"]>0) & (global_store["Category"]=="Technology")
top_countries=global_store[condition]
top_countries.shape

(9915, 22)

In [125]:
sorted_countries_profit=top_countries.sort_values(by=["Profit"],ascending=False).drop_duplicates()
sorted_countries_profit["Country"]

49003    United States
44248    United States
11755    United States
25238    United States
6591            Turkey
             ...
45055    United States
46466        Venezuela
31893    United States
30799           Russia
41207             Iraq
Name: Country, Length: 9915, dtype: object

In [137]:
list_topcountries=sorted_countries_profit["Country"].drop_duplicates()
print(len(list_topcountries))
list_topcountries

145

49003    United States
6591            Turkey
362           Pakistan
215              Japan
313              India
             ...
19592             Togo
29037        Swaziland
29689       Luxembourg
33381        Sri Lanka
5060           Bahrain
Name: Country, Length: 145, dtype: object

In [136]:
ranked_data=sorted_countries_profit["Country"].drop_duplicates().rank(ascending=False,method="average")
ranked_data

49003      8.0
6591      14.0
362       49.0
215       79.0
313       87.0
         ...
19592     17.0
29037     25.0
29689     69.0
33381     27.0
5060     137.0
Name: Country, Length: 145, dtype: float64

In [138]:
ranked_series=pd.concat([ranked_data,list_topcountries],axis=1)
ranked_series

      Country        Country
49003     8.0  United States
6591     14.0         Turkey
362      49.0       Pakistan
215      79.0          Japan
313      87.0          India
...       ...            ...
19592    17.0           Togo
29037    25.0      Swaziland
29689    69.0     Luxembourg
33381    27.0      Sri Lanka
5060    137.0        Bahrain

[145 rows x 2 columns]

In [139]:
group=global_store.groupby(by=["Country","Category","Sub-Category"],as_index=True)
group

In [141]:
functions=[("min_value","min"),("Max_value","max"),("mean_value","mean"),("Std_value","std")]
group["Sales","Profit"].agg(functions)

<ipython-input-141-07035023af1b>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group["Sales","Profit"].agg(functions)

                                             Sales                         \
                                         min_value Max_value   mean_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases          731      2070  1400.500000
                            Chairs             417       914   665.500000
                            Furnishings         84       219   134.500000
                            Tables             267      4626  2113.333333
            Office Supplies Appliances         669       669   669.000000
...                                            ...       ...          ...
Zimbabwe    Office Supplies Supplies            10        66    37.833333
            Technology      Accessories         77        77    77.000000
                            Copiers            154       444   299.000000
                            Machines            14       104    52.500000
                            Phones              21       101    61.000000

                                                         Profit            \
                                            Std_value min_value Max_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases      946.815980       102       848
                            Chairs         351.432070        45       356
                            Furnishings     51.251341         1        79
                            Tables        2254.599817        34       647
            Office Supplies Appliances            NaN       280       280
...                                               ...       ...       ...
Zimbabwe    Office Supplies Supplies        25.031314        12        55
            Technology      Accessories           NaN        59        59
                            Copiers        205.060967       257       371
                            Machines        42.696604        20       173
                            Phones          56.568542        47       169


                                          mean_value   Std_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases     475.000000  527.501659
                            Chairs        200.500000  219.910209
                            Furnishings    32.333333   32.240761
                            Tables        415.000000  332.555259
            Office Supplies Appliances    280.000000         NaN
...                                              ...         ...
Zimbabwe    Office Supplies Supplies       37.166667   15.917496
            Technology      Accessories    59.000000         NaN
                            Copiers       314.000000   80.610173
                            Machines       76.500000   72.958893
                            Phones        108.000000   86.267027

[2009 rows x 8 columns]